h1,
h2 {
  font-family: Lato;
}

.app-root {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  align-items: center;
}

.docs {
  margin-left: 24px;
}

.charts {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
}

.full-row {
  grid-column-start: 1;
  grid-column-end: 3;
}
